{# ./templates/category/mypdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Categorie PDF</title>
</head>
<body>
<h4>{{ title }}</h4>
<h1>Category</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{ category.id }}</td>
        <td><b>{{ category.description }}</b></td>
    </tr>
    </tbody>
</table>

{% set products = category.products %}
<table class="table">
    {% include('product/_inc_tbody_productpdf.html.twig') %}
</table>

</body>
</html>