{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if filename %}
            <h5>File "{{ filename }}" succesfully uploaded in {{ upload_dir }}!</h5>
        {% endif %}

        {% if jsonstring %}
            {{ dump(jsonstring) }}
        {% endif %}

        <form action="doUpload" method="post" enctype="multipart/form-data">

            <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

            <div>
                <label>File to upload:</label>
                <input type="file" name="myfile">
            </div>

            <button type="submit">Send</button>

        </form>


    </div>
{% endblock %}
